* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mjx-container, .mjx-container *{
  font-family: 'Times New Roman', Times, serif;
}

*:not(mjx-container, mjx-container *, .MathJax ){
  font-family: "Inter", sans-serif !important;
}
a.button_link.view_solution, .header_text, .qbq_show_hide_solution{
  display: none;
}

.qp_result_data_data_meta{
  font-weight: 700;
}

.answer{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.answer > .html_wrap{
  
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filtered .qp_result_data_data_meta, .qp_result_data_data_inner {
  display: none;
}

.important .answer{
display: flex;
flex-direction: column-reverse;
margin-bottom: 8px;
}